<section class="content" *ngIf="profile$ | async as profile">
  <div class="container-fluid">
    <app-alerts [errors]="formErrors"></app-alerts>
    <form *ngIf="flagwithdrawData" class="form-horizontal" (ngSubmit)="searchResourceData(searchData)" #sf="ngForm"
      enctype='multipart/form-data' novalidate>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" i18n="@@landProfileSearchLandId">Land Id</label>
              <div class="col-sm-9">
                <ng-select class="rtl" [items]="landNameOptions | async" name="LandNameSearch" [hideSelected]="true"
                  [minTermLength]="1" [(ngModel)]="searchData.term" [loading]="landNameOptionsLoading"
                  bindLabel="value.ar" bindValue="value.entityId" typeToSearchText="Please enter 1 or more characters"
                  notFoundText="لا يوجد نتائج للبحث" [typeahead]="searchLandNameInput$"
                  (keyup)="setSearchType('term', $event)" [disabled]="isSearchBy('searchOldLandId')"
                  (blur)="checkTypeAndValues('term')" #LandNameSearch="ngModel">
                </ng-select>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary" [disabled]="isSearchFormValid()"
          i18n="@@landProfileSearchButton">Search</button>
      </div>
    </form>

    <hr />

    <form class="form-horizontal" (ngSubmit)="updateData(formData)" #f="ngForm" enctype='multipart/form-data'
      novalidate>

      <div *ngIf="flagwithdrawData" class="card-body">

        <div class="form-group row" *ngIf="formData.landIdConversionsHistory.length > 0">
          <div class="col-sm-12">
            <!-- <label class="col-form-label" style="text-align: center;width: 100%;" i18n="@@historyOfConversionOfLandId">
              History Of Conversion Of Land Id
            </label> -->
            <table style="border: 1px solid black;width: 100%;">
              <thead style="border: 1px solid black;">
                <th style="border: 1px solid black; text-align: center;">
                  <label class="col-form-label" i18n="@@landNumberCalncelLand"> Land Id</label>
                </th>
                <th style="border: 1px solid black; text-align: center;">
                  <label class="col-form-label" i18n="@@previousLandNumberCalncelLand">Previous Land Id</label>
                </th>
                <th style="border: 1px solid black; text-align: center;">
                  <label class="col-form-label" i18n="@@sectorCalncelLand">Sector</label>
                </th>
                <th style="border: 1px solid black; text-align: center;">
                  <label class="col-form-label" i18n="@@DistrictCalncelLand">District</label>
                </th>
                <th style="border: 1px solid black; text-align: center;">
                  <label class="col-form-label" i18n="@@ReservationsCalncelLand">ReservationsCalncelLand</label>
                </th>
                <th style="border: 1px solid black; text-align: center;">
                  <label class="col-form-label" i18n="@@ationsCalncelLand">Actions</label>
                </th>
              </thead>
              <tbody style="border: 1px solid black;">
                <!-- <tr *ngFor="let item of formData.landIdConversionsHistory let j = index"> -->
                <tr>
                  <td style="border: 1px solid black; text-align: center;">
                    <label class="col-form-label">
                      {{response.land.land.landId}}
                    </label>
                  </td>
                  <td style="border: 1px solid black; text-align: center;">
                    <label class="col-form-label">
                      {{response.land.land.oldLandId}}
                    </label>
                  </td>
                  <td style="border: 1px solid black; text-align: center;">
                    <label class="col-form-label">
                      {{sectiorVal}}
                    </label>
                  </td>
                  <td style="border: 1px solid black; text-align: center;">
                    <label class="col-form-label">
                      {{sectionVal}}
                    </label>
                  </td>
                  <td style="border: 1px solid black; text-align: center;">
                    <ng-container *ngFor="let blockage of response.land.blockages">
                      <li class="text-danger" *ngIf="blockage.remarks">
                        {{blockage.remarks}}
                      </li>
                    </ng-container>
                  </td>
                  <td style="border: 1px solid black; text-align: center;">
                    <div class="d-flex">
                      <ng-container
                        *ngIf="getRole(userRole,'Admin') || getRole (userRole,'customerservices')|| getRole (userRole,'Engineering') || getRole(userRole,'Archives')">
                        <a [href]="getViewResourceUrl(response.land.id, 'land')" target="_blank" class="fs-30 p-1">
                          <i class="fas fa-eye"></i>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="getRole(userRole,'Admin') || getRole (userRole,'Legal')">
                        <a [href]="getViewLegalBlocks(response.land.propertyId , 'propertyId')" target="_blank"
                          class="fs-30 p-1">
                          <i class="fas fa-balance-scale"></i>
                        </a>
                      </ng-container>
                      <!-- <a [href]="getViewLegalBlocks(land_detail.land.propertyId , 'propertyId')" target="_blank" class="fs-30 p-1" *ngIf="!land_detail.land.landId">
                        <i class="fas fa-balance-scale"></i>
                      </a> -->
                      <ng-container *ngIf="getRole(userRole,'Admin') || getRole (userRole,'Engineering')">
                        <a [href]="getViewEngineeringBlocks(response.land.propertyId , 'propertyId')" target="_blank"
                          class="fs-30 p-1">
                          <i class="fas fa-drafting-compass"></i>
                        </a>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <label i18n="@@searchPageTableOwners">Owners:</label>
        <div class="card" [ngClass]="getOwnerClass(response) == 'bg-seagreen' ? 'bg-seagreen' : ''">
          <!-- *ngFor="let item of getCurrentOwnedLands(response); let i = index" -->
          <div class="card-header border-0">
            <div class="card-tools">
              <button type="button" class="btn btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <h3 class="card-title float-right font-weight-bold">{{getOwnerHeader(response)}}</h3>
          </div>
          <div class="card-body">
            <table class="table table-bordered ownerTable table-responsive d-table">
              <thead>
                <tr class="bg-grey">
                  <th i18n="@@searchPageTableHeaderCustomerID">Customer ID</th>
                  <th i18n="@@searchPageTableHeaderNameArabic">Name Arabic</th>
                  <th i18n="@@searchPageTableHeaderNameEnglish">Name English</th>
                  <th i18n="@@searchPageTableHeaderOwnerID">Owner ID</th>
                  <th i18n="@@searchPageTableHeaderOwnershipPercentage">Ownership Percentage</th>
                  <th i18n="@@searchPageTableHeaderNationality">Nationality</th>
                  <th i18n="@@searchPageTableActions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="getOwnerClass(response) == 'bg-seagreen' ? 'bg-white' : getOwnerClass(response)"
                  *ngFor="let deed_detail_item of response.deedDetails; let i = index">
                  <td>{{deed_detail_item.profile?.id}}</td>
                  <td><a
                      [href]="getSearchLink(deed_detail_item.details?.ownerId, 'ownerId')">{{deed_detail_item.profile?.nameAr}}</a>
                  </td>
                  <td><a
                      [href]="getSearchLink(deed_detail_item.details?.ownerId, 'ownerId')">{{deed_detail_item.profile?.nameEn}}</a>
                  </td>
                  <td>{{deed_detail_item.details?.mainIdentityNumber}}</td>
                  <td>{{deed_detail_item.details?.share}}</td>
                  <td>{{ deed_detail_item.profile?.nationalityAr }}</td>
                  <td>
                    <div class="d-flex">
                      <ng-container
                        *ngIf="getRole(userRole,'Admin') || getRole (userRole,'customerservices')|| getRole (userRole,'Engineering') || getRole(userRole,'Archives')">
                        <a [href]="getViewResourceUrl(deed_detail_item.profile?.ownerId, 'owner')" target="_blank"
                          class="fs-30 p-1">
                          <i class="fas fa-eye"></i>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="getRole(userRole,'Admin') || getRole (userRole,'Legal')">
                        <a href="javascript:void(0);" class="fs-30 p-1 icon-pointer"
                          (click)="openAddBlockToOwnerPropertiesModal(deed_detail_item.profile?.ownerId)">
                          <i class="fas fa-gavel fa-rotate-270"></i>
                        </a>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card" [ngClass]="getOwnerClass(response) == 'bg-seagreen' ? 'bg-seagreen' : ''"
          *ngFor="let item of getPreviouslyOwnedLands(response.deeds); let i = index">
          <div class="card-header border-0">
            <div class="card-tools">
              <button type="button" class="btn btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <h3 class="card-title float-right font-weight-bold">{{getOwnerHeader(item)}}</h3>
          </div>
          <div class="card-body">
            <table class="table table-bordered ownerTable table-responsive d-table">
              <thead>
                <tr class="bg-grey">
                  <th i18n="@@searchPageTableHeaderCustomerID">Customer ID</th>
                  <th i18n="@@searchPageTableHeaderNameArabic">Name Arabic</th>
                  <th i18n="@@searchPageTableHeaderNameEnglish">Name English</th>
                  <th i18n="@@searchPageTableHeaderOwnerID">Owner ID</th>
                  <th i18n="@@searchPageTableHeaderOwnershipPercentage">Ownership Percentage</th>
                  <th i18n="@@searchPageTableHeaderNationality">Nationality</th>
                  <th i18n="@@searchPageTableActions">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr [ngClass]="getOwnerClass(response) == 'bg-seagreen' ? 'bg-white' : getOwnerClass(response)"
                  *ngFor="let deed_detail_item of item.deedDetails; let i = index">
                  <td>{{deed_detail_item.profile?.id}}</td>
                  <td><a
                      [href]="getSearchLink(deed_detail_item.details?.ownerId, 'ownerId')">{{deed_detail_item.profile?.nameAr}}</a>
                  </td>
                  <td><a
                      [href]="getSearchLink(deed_detail_item.details?.ownerId, 'ownerId')">{{deed_detail_item.profile?.nameEn}}</a>
                  </td>
                  <td>{{deed_detail_item.details?.mainIdentityNumber}}</td>
                  <td>{{deed_detail_item.details?.share}}</td>
                  <td>{{ deed_detail_item.profile?.nationalityAr }}</td>
                  <td>
                    <div class="d-flex">
                      <ng-container
                        *ngIf="getRole(userRole,'Admin') || getRole (userRole,'customerservices')|| getRole (userRole,'Engineering') || getRole(userRole,'Archives')">
                        <a [href]="getViewResourceUrl(deed_detail_item.profile?.ownerId, 'owner')" target="_blank"
                          class="fs-30 p-1">
                          <i class="fas fa-eye"></i>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="getRole(userRole,'Admin') || getRole (userRole,'Legal')">
                        <a href="javascript:void(0);" class="fs-30 p-1 icon-pointer"
                          (click)="openAddBlockToOwnerPropertiesModal(deed_detail_item.profile?.ownerId)">
                          <i class="fas fa-gavel fa-rotate-270"></i>
                        </a>
                      </ng-container>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <label class="" i18n="@@reasonOfCancel">Reason Of Cancel</label>
            <div class="col-sm-6">
              <textarea name="reasonOfCancel" class="form-control" rows="3"
                [(ngModel)]="formData.reasonOfCancel"></textarea>
            </div>
          </div>
          <div class="col-sm-12">
            <label class="" i18n="@@attachments">Attachments</label>
            <div class="col-sm-6">
              <app-file-upload [field]="prepareEstablishmentContractFileField()" [formData]="formData"
                [defaultValues]="formData"></app-file-upload>
              <!-- (change)="updateControlLabel($event)" -->
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group row" style="padding-right: 25px;margin-top: 25px;">
              <input name="agreeCancel"   [(ngModel)]="formData.agreeCancel"  type="checkbox"
                class="form-check-input">
              <label class="" i18n="@@Acknowledgmentofthecancellation">Acknowledgment of the cancellation</label>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="card-footer">
        <button type="submit" class="btn btn-primary float-left" [disabled]="f.invalid" i18n="@@formSubmitLabel">Submit</button>
      </div> -->
      <div *ngIf="flagwithdrawData" class="card-footer">
        <button type="button" (click)="editFun()" class="btn btn-primary float-left" i18n="@@edit">Edit</button>
      </div>
      <div *ngIf="!flagwithdrawData" class="loader">
      </div>
      <div *ngIf="!flagwithdrawData" style="width: 100%;text-align: center;margin-top: 10px;">
        <label class="col-form-label" i18n="@@withdrawDataFromMunicipalityLoadingTxt">
          Land data is being retrieved from the municipality \n Please wait a few time</label>
      </div>
    </form>
  </div>
</section>