<input class="form-control"
  [class]="customClass"
  [type]="field.fieldType"
  [placeholder]="getText(field, 'placeholder')"
  [required]="isRequired()"
  [name]="getName(field.fieldName.en)"
  [id]="field.fieldID"
  [minlength]="field.auxInfo?.minLength"
  [maxlength]="field.auxInfo?.maxLength"
  [(ngModel)]="formData[field.fieldID]"
  [disabled]="isActiveEditStep()"
  #ngModel="ngModel"
/> 

<div *ngIf="ngModel.invalid && (ngModel.dirty || ngModel.touched) || showErrors(field.fieldID)"
    class="alert alert-danger">

  <div *ngIf="ngModel.errors?.required || ngModel.errors?.minlength">
    {{getText(field, 'errorMsg')}}
  </div>

  <div *ngIf="showErrors(field.fieldID)">
    <label i18n="@@errorMsg1" style="color:'#fff'"> Incorrect</label> 
    {{getErrors(field.fieldID)}} 
      <label i18n="@@errorMsg2" style="color:'#fff'">  Check error details below</label>
  </div>
</div>
