<div class="custom-direction limit-div">
  <pre [innerHtml]="getAjaxData() | prettyjson:4">
  </pre>
</div>
<button type="button" class="btn btn-primary"
  (click)="loadData()" [disabled]="isActiveEditStep()">
  {{ getText(field, 'fieldName') }}
</button>

<div *ngIf="showErrors(field.fieldID)" class="alert alert-danger">
  <!-- {{getErrors(field.fieldID)}} -->
  <label i18n="@@errorMsg1" style="color:'#fff'"> Incorrect</label> 
  {{getErrors(field.fieldID)}} 
    <label i18n="@@errorMsg2" style="color:'#fff'">  Check error details below</label>
</div>
