<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          </ol>
        </div> -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" *ngIf="profile$ | async as profile">
          <div class="card card-purple">
            <div class="card-header">
              <h3 class="card-title"> تقييم الأراضي </h3>
            </div>
            <div style="width: 100%;justify-content: center;background-color: #f7f7f7;height: 20%;">
              <button type="button" (click)="addNewFun()"
                style="float: left;margin-left: 3%;margin-top: 1%;margin-bottom: 1%;" class="btn btn-primary"
                i18n="@@addNew">+ Add New</button>

              <button type="button" (click)="addRatelandExcel()"
                style="float: left;margin-left: 3%;margin-top: 1%;margin-bottom: 1%;" class="btn btn-primary"
                i18n="@@addLandRateExcel">ِAdd new By excel</button>
            </div>
            <div class="container-fluid mt-2">
              <div class="row">
                <!-- First Card (Total Tathmeen and Total Lands) -->
                <div class="col-12 mb-3">
                  <div class="row">
                    <!-- Total Tathmeen Card -->
                    <div class="col-6 mb-2" style="background-color: #dcfbde; border: 0 !important;">
                      <div class="card" style="background-color: #dcfbde; border: 0 !important; box-shadow: none;">
                        <div class="card-body text-center" style="background-color: #dcfbde; border: 0 !important;">
                          <h5 style="width: 100%;" class="card-title d-block text-center">إجمالي التقييمات</h5>
                          <p class="card-text">{{kpiObj.totalTathmeen}}</p>
                        </div>
                      </div>
                    </div>
                                        <!-- Total Lands Card -->
                    <div class="col-6 mb-2" style="background-color: #caeef9; border: 0 !important;">
                      <div class="card" style="background-color: #caeef9; border: 0 !important; box-shadow: none;">
                        <div class="card-body text-center" style="background-color: #caeef9; border: 0 !important;">
                          <h5 style="width: 100%;" class="card-title d-block text-center">إجمالي الأراضي</h5>
                          <p class="card-text">{{kpiObj.totalLands}}</p>
                        </div>
                      </div>
                    </div>
                                      
                  </div>
                </div>

                <!-- Second Card (Dynamic Section Cards) -->
                <div class="col-12 mb-3" style="background-color: #f2f2f2;">
                  <div class="card" style="background-color: #f2f2f2;">
                    <h5 class="card-title text-center"
                      
                       style=" display: block;text-align: right !important;padding-top: 10px;"  
                       >
                        التقييمات حسب القسم
                      </h5>
                    <div class="card-body" style="background-color: #f2f2f2;">
                      <!-- Section Title -->
                     
                
                      <!-- Dynamic Section Items -->
                      <div class="row mt-3" style="direction: rtl;">
                        <div 
                          *ngFor="let item of kpiObj.tathmeenBySection" 
                          class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
                          <div class="card h-70 p-2" 
                               style="font-size: 0.85rem; line-height: 1.2;width: 150px; padding: 10px; display: block;">
                            <div class="card-body text-center p-1" style="text-align: right;">
                              <h6 style="font-size: 0.9rem; margin-bottom: 5px;">{{item.SectorName}}</h6>
                              <p style="font-size: 0.8rem; margin-bottom: 5px;">{{item.sectionName || 'غير محدد'}}</p>
                              <span class="card-text" style="font-size: 0.85rem;">{{item.Count}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
                
              </div>
            </div>



            <router-outlet></router-outlet>
            <section class="content" *ngIf="formData && !formData.id">
              <div class="container-fluid">
                <app-alerts [errors]="formErrors"></app-alerts>
                <form class="form-horizontal d-flex justify-content-center" (ngSubmit)="getData(searchData)"
                  #sf="ngForm" enctype="multipart/form-data" novalidate>
                  <div class="w-50">
                    <div class="card-body">
                      <div class="form-group text-center">
                        <label class="d-block mb-3" i18n="@@landProfileSearchLandId">Land Id</label>
                        <div>
                          <ng-select class="rtl w-100" [items]="landNameOptions | async" name="LandNameSearch"
                            [hideSelected]="true" [minTermLength]="1" [(ngModel)]="searchData.term"
                            [loading]="landNameOptionsLoading" bindLabel="value.ar" bindValue="value.entityId"
                            typeToSearchText="Please enter 1 or more characters" notFoundText="لا يوجد نتائج للبحث"
                            [typeahead]="searchLandNameInput$" (keyup)="setSearchType('term', $event)"
                            [disabled]="isSearchBy('searchOldLandId')" (blur)="checkTypeAndValues('term')"
                            #LandNameSearch="ngModel">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-center">
                      <button type="submit" class="btn btn-primary" [disabled]="sf.invalid"
                        i18n="@@generalSearch">Submit</button>
                    </div>
                  </div>
                </form>


                <form *ngIf="resData" class="form-horizontal" #f="ngForm" enctype="multipart/form-data" novalidate>
                  <div class="container">
                    <div class="card card-right" style="width: 30%; float: right; margin-left: 10px;"
                      *ngIf="landInfo || activeTathmeen">
                      <!-- activeTathmeen -->
                      <div class="card-body" *ngIf="activeTathmeen">
                        <div class="card card-purple">
                          <div class="card-header">
                            <h3 class="card-title">التقييم الفعلي</h3>
                          </div>
                        </div>
                        <div class="form-group row">
                          <ul
                            style="list-style-type: none; padding: 0; border: 1px solid black; border-radius: 5px; width: 100%;">
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>تاريخ الأضافة : </strong>
                              <span *ngIf="activeTathmeen.addedAt">{{activeTathmeen.addedAt}}</span>
                              <span *ngIf="!activeTathmeen.addedAt"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>بواسطة : </strong>
                              <span *ngIf="activeTathmeen.addedBy">{{activeTathmeen.addedBy}}</span>
                              <span *ngIf="!activeTathmeen.addedBy"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>القيمة : </strong>
                              <strong *ngIf="activeTathmeen.amount">{{activeTathmeen.amount}}</strong>
                              <strong *ngIf="!activeTathmeen.amount"> --- </strong>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>تاريخ الأنتهاء : </strong>
                              <span *ngIf="activeTathmeen.validTill">{{activeTathmeen.validTill}}</span>
                              <span *ngIf="!activeTathmeen.validTill"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>المصدر : </strong>
                              <span *ngIf="activeTathmeen.source">{{activeTathmeen.source}}</span>
                              <span *ngIf="!activeTathmeen.source"> --- </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- landInfo -->
                      <div class="card-body" *ngIf="landInfo">
                        <div class="card card-purple">
                          <div class="card-header">
                            <h3 class="card-title">بيانات الأرض</h3>
                          </div>
                        </div>
                        <div class="form-group row">
                          <ul
                            style="list-style-type: none; padding: 0; border: 1px solid black; border-radius: 5px;width: 100%;">
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>رقم المعرف : </strong>
                              <span *ngIf="landInfo.landId">{{landInfo.landId}}</span>
                              <span *ngIf="!landInfo.landId"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>المنطقة : </strong>
                              <span *ngIf="landInfo.area">{{landInfo.area}}</span>
                              <span *ngIf="!landInfo.area"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>النوع : </strong>
                              <span *ngIf="landInfo.landType">{{landInfo.landType}}</span>
                              <span *ngIf="!landInfo.landType"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>إلأستعمال الرئيسي : </strong>
                              <span *ngIf="landInfo.mainUsage">{{landInfo.mainUsage}}</span>
                              <span *ngIf="!landInfo.mainUsage"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>إلأستعمال الفرعي : </strong>
                              <span *ngIf="landInfo.subUsage">{{landInfo.subUsage}}</span>
                              <span *ngIf="!landInfo.subUsage"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>الحي : </strong>
                              <span *ngIf="landInfo.sector">{{landInfo.sector}}</span>
                              <span *ngIf="!landInfo.sector"> --- </span>
                            </li>
                            <li style="border-bottom: 1px solid black; padding: 8px;">
                              <strong>القسم : </strong>
                              <span *ngIf="landInfo.section">{{landInfo.section}}</span>
                              <span *ngIf="!landInfo.section"> --- </span>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>


                    <div *ngIf="resData" class="card card-left" style="width: 70%;">
                      <!-- previousTathmeens -->
                      <div class="card-body" *ngIf="previousTathmeens.length > 0">
                        <div class="card card-purple">
                          <div class="card-header">
                            <h3 class="card-title">التقييمات السابقة</h3>
                          </div>
                        </div>
                        <table style="border: 1px solid black;width: 100%;">
                          <thead style="border: 1px solid black;">
                            <th style="border: 1px solid black; text-align: center;">
                              <label class="col-form-label"> تاريخ الأضافة</label>
                            </th>
                            <th style="border: 1px solid black; text-align: center;">
                              <label class="col-form-label">بواسطة</label>
                            </th>
                            <th style="border: 1px solid black; text-align: center;">
                              <label class="col-form-label">القيمة</label>
                            </th>
                            <th style="border: 1px solid black; text-align: center;">
                              <label class="col-form-label">تاريخ الأنتهاء</label>
                            </th>
                            <th style="border: 1px solid black; text-align: center;">
                              <label class="col-form-label"> المصدر</label>
                            </th>
                          </thead>
                          <tbody style="border: 1px solid black;">
                            <tr *ngFor="let item of previousTathmeens let j = index">
                              <td style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label" *ngIf="item.addedAt">{{item.addedAt}}</label>
                                <label class="col-form-label" *ngIf="!item.addedAt"> --- </label>
                              </td>
                              <td style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label" *ngIf="item.addedBy">
                                  {{item.addedBy}}
                                </label>
                                <label class="col-form-label" *ngIf="! item.addedBy">
                                  ---
                                </label>
                              </td>
                              <td style="border: 1px solid black; text-align: center;">
                                <strong class="col-form-label" *ngIf="item.amount">
                                  {{item.amount}}
                                </strong>
                                <strong class="col-form-label" *ngIf="! item.amount">
                                  ---
                                </strong>
                              </td>
                              <td style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label" *ngIf="item.validTill">
                                  {{item.validTill}}
                                </label>
                                <label class="col-form-label" *ngIf="! item.validTill">
                                  ---
                                </label>
                              </td>
                              <td style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label" *ngIf="item.source">
                                  {{item.source}}
                                </label>
                                <label class="col-form-label" *ngIf="! item.source">
                                  ---
                                </label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- valuationTranasctions -->
                      <div class="card-body">
                        <div class="form-group row" *ngIf="valuationTranasctions.length > 0">
                          <div class="card card-purple">
                            <div class="card-header">
                              <h3 class="card-title">معاملات التقييم</h3>
                            </div>
                          </div>
                          <table style="border: 1px solid black;width: 100%;">
                            <thead style="border: 1px solid black;">
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">رفم الطلب</label>
                              </th>
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">القيمة</label>
                              </th>
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">تاريخ الأضافة</label>
                              </th>

                            </thead>
                            <tbody style="border: 1px solid black;">
                              <!-- <tr *ngFor="let item of formData.landTreeHistory let j = index"> -->
                              <!-- <tr *ngFor="let item of pageData let j = index"> -->
                              <tr *ngFor="let item of valuationTranasctions let j = index">
                                <td style="border: 1px solid black; text-align: center;">
                                  <label class="col-form-label" *ngIf="item.applicationID">
                                    {{item.applicationID}}
                                  </label>
                                  <label class="col-form-label" *ngIf="! item.applicationID">
                                    ---
                                  </label>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                                  <strong class="col-form-label" *ngIf="item.amount">
                                    {{item.amount}}
                                  </strong>
                                  <strong class="col-form-label" *ngIf="! item.amount">
                                    ---
                                  </strong>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                                  <label class="col-form-label" *ngIf="item.createdAt">
                                    {{item.createdAt}}
                                  </label>
                                  <label class="col-form-label" *ngIf="! item.createdAt">
                                    ---
                                  </label>
                                </td>



                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <!-- transferTransactions -->
                      <div class="card-body">
                        <div class="form-group row" *ngIf="transferTransactions.length > 0">
                          <div class="card card-purple">
                            <div class="card-header">
                              <h3 class="card-title">معاملات البيع</h3>
                            </div>
                          </div>
                          <table style="border: 1px solid black;width: 100%;">
                            <thead style="border: 1px solid black;">
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">رفم الطلب</label>
                              </th>
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">القيمة</label>
                              </th>
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">تاريخ الأضافة</label>
                              </th>
                              <th style="border: 1px solid black; text-align: center;">
                                <label class="col-form-label">نوع المعاملة</label>
                              </th>

                            </thead>
                            <tbody style="border: 1px solid black;">
                              <!-- <tr *ngFor="let item of formData.landTreeHistory let j = index"> -->
                              <!-- <tr *ngFor="let item of pageData let j = index"> -->
                              <tr *ngFor="let item of transferTransactions let j = index">
                                <td style="border: 1px solid black; text-align: center;">
                                  <label class="col-form-label" *ngIf="item.applicationID">
                                    {{item.applicationID}}
                                  </label>
                                  <label class="col-form-label" *ngIf="! item.applicationID">
                                    ---
                                  </label>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                                  <strong class="col-form-label" *ngIf="item.amount">
                                    {{item.amount}}
                                  </strong>
                                  <strong class="col-form-label" *ngIf="! item.amount">
                                    ---
                                  </strong>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                                  <label class="col-form-label" *ngIf="item.createdAt">
                                    {{item.createdAt}}
                                  </label>
                                  <label class="col-form-label" *ngIf="! item.createdAt">
                                    ---
                                  </label>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                                  <label class="col-form-label" *ngIf="item.TransactionType">
                                    {{item.TransactionType}}
                                  </label>
                                  <label class="col-form-label" *ngIf="! item.TransactionType">
                                    ---
                                  </label>
                                </td>



                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>



              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>